# SQL EDA on the 3 Datasets of Chicago's Portal

## Understand the datasets

In this notebook we will be using these three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `ChicagoDB.db`

In [2]:
import pandas, sqlite3

con = sqlite3.connect("ChicagoDB.db")
cur = con.cursor()

Load the SQL magic module

In [3]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `ChicagoDB.db` as required tables.

In [4]:
df_census = pandas.read_csv("https://data.cityofchicago.org/resource/kn9c-c2s2.csv")
df_census.to_sql("CENSUS_DATA", con, if_exists='replace', index=False, method="multi")
df_schools = pandas.read_csv("https://data.cityofchicago.org/resource/9xs2-f89t.csv")
df_schools.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method="multi")

566

In [5]:
df_crime = pandas.read_csv('/notebooks/ChicagoCrime.csv')
df_crime.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

533

Establish a connection between SQL magic module and the database `ChicagoDB.db`

In [6]:
%sql sqlite:///ChicagoDB.db

### The total number of crimes recorded in the CRIME table.

In [7]:
%sql select count(*) as total_number_of_crimes from CHICAGO_CRIME_DATA

 * sqlite:///ChicagoDB.db
Done.

[(533,)]

In [8]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CENSUS_DATA');

 * sqlite:///ChicagoDB.db
Done.

[('ca', 'REAL', 4),
 ('community_area_name', 'TEXT', 4),
 ('percent_of_housing_crowded', 'REAL', 4),
 ('percent_households_below_poverty', 'REAL', 4),
 ('percent_aged_16_unemployed', 'REAL', 4),
 ('percent_aged_25_without_high_school_diploma', 'REAL', 4),
 ('percent_aged_under_18_or_over_64', 'REAL', 4),
 ('per_capita_income_', 'INTEGER', 7),
 ('hardship_index', 'REAL', 4)]

In [9]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS');

 * sqlite:///ChicagoDB.db
Done.

[('school_id', 'INTEGER', 7),
 ('name_of_school', 'TEXT', 4),
 ('elementary_or_high_school', 'TEXT', 4),
 ('street_address', 'TEXT', 4),
 ('city', 'TEXT', 4),
 ('state', 'TEXT', 4),
 ('zip_code', 'INTEGER', 7),
 ('phone_number', 'TEXT', 4),
 ('link_', 'TEXT', 4),
 ('network_manager', 'TEXT', 4),
 ('collaborative_name', 'TEXT', 4),
 ('adequate_yearly_progress_made_', 'TEXT', 4),
 ('track_schedule', 'TEXT', 4),
 ('cps_performance_policy_status', 'TEXT', 4),
 ('cps_performance_policy_level', 'TEXT', 4),
 ('healthy_schools_certified_', 'TEXT', 4),
 ('safety_icon_', 'TEXT', 4),
 ('safety_score', 'REAL', 4),
 ('family_involvement_icon', 'TEXT', 4),
 ('family_involvement_score', 'TEXT', 4),
 ('environment_icon_', 'TEXT', 4),
 ('environment_score', 'REAL', 4),
 ('instruction_icon_', 'TEXT', 4),
 ('instruction_score', 'REAL', 4),
 ('leaders_icon_', 'TEXT', 4),
 ('leaders_score_', 'TEXT', 4),
 ('teachers_icon_', 'TEXT', 4),
 ('teachers_score', 'TEXT', 4),
 ('parent_engagement_icon_', 'TEXT', 4),
 ('parent_engagement_score', 'TEXT', 4),
 ('parent_environment_icon', 'TEXT', 4),
 ('parent_environment_score', 'TEXT', 4),
 ('average_student_attendance', 'REAL', 4),
 ('rate_of_misconducts_per_100_students_', 'REAL', 4),
 ('average_teacher_attendance', 'REAL', 4),
 ('individualized_education_program_compliance_rate_', 'REAL', 4),
 ('pk_2_literacy', 'TEXT', 4),
 ('pk_2_math_', 'TEXT', 4),
 ('gr3_5_grade_level_math', 'TEXT', 4),
 ('gr3_5_grade_level_read_', 'TEXT', 4),
 ('gr3_5_keep_pace_read_', 'TEXT', 4),
 ('gr3_5_keep_pace_math', 'TEXT', 4),
 ('gr6_8_grade_level_math', 'TEXT', 4),
 ('gr6_8_grade_level_read', 'TEXT', 4),
 ('gr6_8_keep_pace_math', 'TEXT', 4),
 ('gr6_8_keep_pace_read', 'TEXT', 4),
 ('gr_8_explore_math', 'TEXT', 4),
 ('gr_8_explore_read', 'TEXT', 4),
 ('isat_exceeding_math_', 'REAL', 4),
 ('isat_exceeding_reading_', 'REAL', 4),
 ('isat_value_add_math', 'REAL', 4),
 ('isat_value_add_read', 'REAL', 4),
 ('isat_value_add_color_math', 'TEXT', 4),
 ('isat_value_add_color_read', 'TEXT', 4),
 ('students_taking_algebra', 'TEXT', 4),
 ('students_passing_algebra', 'TEXT', 4),
 ('_th_grade_explore_2009_', 'TEXT', 4),
 ('_th_grade_explore_2010_', 'TEXT', 4),
 ('_th_grade_plan_2009_', 'TEXT', 4),
 ('_th_grade_plan_2010_', 'TEXT', 4),
 ('net_change_explore_and_plan', 'TEXT', 4),
 ('_th_grade_average_act_2011_', 'TEXT', 4),
 ('net_change_plan_and_act', 'TEXT', 4),
 ('college_eligibility_', 'TEXT', 4),
 ('graduation_rate_', 'TEXT', 4),
 ('college_enrollment_rate', 'TEXT', 4),
 ('college_enrollment_number_of_students_', 'INTEGER', 7),
 ('general_services_route_', 'INTEGER', 7),
 ('freshman_on_track_rate', 'TEXT', 4),
 ('rcdts_code', 'INTEGER', 7),
 ('x_coordinate', 'REAL', 4),
 ('y_coordinate', 'REAL', 4),
 ('latitude', 'REAL', 4),
 ('longitude', 'REAL', 4),
 ('community_area_number', 'INTEGER', 7),
 ('community_area_name', 'TEXT', 4),
 ('ward', 'INTEGER', 7),
 ('police_district', 'INTEGER', 7),
 ('location', 'TEXT', 4)]

In [10]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_CRIME_DATA');

 * sqlite:///ChicagoDB.db
Done.

[('Unnamed: 0', 'INTEGER', 7),
 ('ID', 'INTEGER', 7),
 ('CASE_NUMBER', 'TEXT', 4),
 ('DATE', 'TEXT', 4),
 ('BLOCK', 'TEXT', 4),
 ('IUCR', 'TEXT', 4),
 ('PRIMARY_TYPE', 'TEXT', 4),
 ('DESCRIPTION', 'TEXT', 4),
 ('LOCATION_DESCRIPTION', 'TEXT', 4),
 ('ARREST', 'INTEGER', 7),
 ('DOMESTIC', 'INTEGER', 7),
 ('BEAT', 'INTEGER', 7),
 ('DISTRICT', 'INTEGER', 7),
 ('WARD', 'REAL', 4),
 ('COMMUNITY_AREA_NUMBER', 'REAL', 4),
 ('FBICODE', 'TEXT', 4),
 ('X_COORDINATE', 'REAL', 4),
 ('Y_COORDINATE', 'REAL', 4),
 ('YEAR', 'INTEGER', 7),
 ('LATITUDE', 'REAL', 4),
 ('LONGITUDE', 'REAL', 4),
 ('LOCATION', 'TEXT', 4)]

### The List of community area names and numbers with per capita income less than 11000.

In [20]:
%sql select community_area_name, ca, per_capita_income_ from  CENSUS_DATA where per_capita_income_ <11000

 * sqlite:///ChicagoDB.db
Done.

[('West Garfield Park', 26.0, 10934),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('Riverdale', 54.0, 8201)]

### The List of all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [12]:
%sql select case_number from CHICAGO_CRIME_DATA where description like'%MINOR%'

 * sqlite:///ChicagoDB.db
Done.

[('HL266884',), ('HK238408',)]

### The List of all kidnapping crimes involving a child?

In [13]:
%sql select case_number, primary_type, description from CHICAGO_CRIME_DATA where primary_type ='KIDNAPPING' and description like '%CHILD%'

 * sqlite:///ChicagoDB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### The List of the kind of crimes that were recorded at schools. (No repetitions)

In [14]:
%sql select distinct(PRIMARY_TYPE) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%'

 * sqlite:///ChicagoDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### The List of the type of schools along with the average safety score for each type.

In [15]:
%%sql PRAGMA quote_ident = ON;
select "Elementary, Middle, or High School", avg(SAFETY_SCORE) as average_safety_score from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School"

 * sqlite:///ChicagoDB.db
Done.
Done.

[('Elementary, Middle, or High School', 49.50487329434698)]

### The List of the 5 community areas with highest % of households below poverty line

In [25]:
%sql select COMMUNITY_AREA_NAME, ca as COMMUNITY_AREA_NUMBER, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * sqlite:///ChicagoDB.db
Done.

[('Riverdale', 54.0, 56.5),
 ('Fuller Park', 37.0, 51.2),
 ('Englewood', 68.0, 46.6),
 ('North Lawndale', 29.0, 43.1),
 ('East Garfield Park', 27.0, 42.4)]

### Which community area is most crime prone? Display the coumminty area number only.

In [17]:
%sql select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc limit 1

 * sqlite:///ChicagoDB.db
Done.

[(25.0,)]

### Use a sub-query to find the name of the community area with highest hardship index

In [18]:
%sql select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * sqlite:///ChicagoDB.db
Done.

[('Riverdale', 98.0)]

### Using a sub-query to determine the Community Area Name with most number of crimes?

In [33]:
%%sql select COMMUNITY_AREA_NAME from CENSUS_DATA 
    where ca = (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc limit 1 )

 * sqlite:///ChicagoDB.db
Done.

[('Austin',)]

## Conclusion

This notebook conducted a comprehensive exploratory data analysis (EDA) on three key datasets from the City of Chicago's Data Portal: Socioeconomic Indicators, Chicago Public Schools performance data, and Chicago Crime Data. By utilizing SQL queries, we were able to delve into the underlying patterns and relationships across these diverse datasets.

### Key Findings:
1. **Socioeconomic Indicators**: The analysis of socioeconomic indicators across Chicago's community areas revealed significant disparities in income levels, education attainment, and employment rates. These factors were closely tied to the hardship index, highlighting the areas that might require more targeted social interventions.

2. **Chicago Public Schools**: The examination of the Chicago Public Schools dataset provided insights into school performance metrics, including attendance rates, standardized test scores, and graduation rates. The analysis identified correlations between school performance and the socioeconomic conditions of the surrounding community areas, indicating that external factors significantly influence educational outcomes.

3. **Chicago Crime Data**: By analyzing crime data, patterns of crime distribution across different neighborhoods were uncovered. The data showed that areas with higher socioeconomic hardship and lower educational outcomes also tended to have higher crime rates. This reinforces the interconnectedness of social, educational, and safety issues within the city.

### Final Thoughts:
This EDA provided a deeper understanding of the multifaceted challenges facing Chicago's communities. The insights gained can be used to inform policymakers, educators, and law enforcement agencies as they work towards improving the quality of life across the city. Future analyses could build upon these findings by incorporating more recent data or exploring additional variables to gain further insights into Chicago's evolving landscape.